# Node
node_modules/
dist/
build/

# Lockfiles (optional if you use pnpm consistently)
.pnpm-store/
.pnpm-lock.yaml

# Environment
.env
.env.local
.env.development
.env.production
.env.*

# Editor / System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
docker-data/
pgdata/

# Next.js build (for web app)
apps/web/.next/
